html, body {
  background-color: #ffffff;
  background-image: url('./rust-background.jpg');
  overflow-y: scroll;
  text-align: center;
  margin: 0;
}

.containers {
  display: flex;
  justify-content: space-between;
}

.List {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  overflow-y: scroll;
}

.List::-webkit-scrollbar {
  display: none;
}

.Room {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  overflow-y: scroll;
}

.Room::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
	font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 8px;
}


h1 {
  margin: 8px 0;
}


input,
textarea {
  margin-top: 10px;
  text-align: center;
  width: 20%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}


ul {
  list-style: none;
  text-align: center;
  padding: 0;
}


li {
  background-color: Cornsilk;
  border: 2px solid black;
  border-radius: 5px 2px;
  margin: auto;
  margin-bottom: 0px;
  padding: 5px;
  width: 90%;
}

li div {
  position: relative;
}

li div button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 0;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
}

li div button:hover {
  background-color: rgb(201, 28, 28);
}

li h2 {
  margin: 0;
  padding: 4px;
}

li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: .77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: rgb(243, 5, 5);
}
